[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
tblib = "*"
pywatchman = "*"
diff-cover = "*"
django-graphiql-debug-toolbar = "*"
dj-inmemorystorage = "*"
django-silk = "*"
mkdocs = "*"
mkdocstrings = "*"
mkdocs-material = "*"

[packages]
beyonic = {editable = true,git = "https://github.com/beyonic/beyonic-python.git",ref = "57ee10a82222f4e7c489b038321f441e1f38195a"}
boto3 = "~=1.14"
coreschema = "==0.0.4"
coverage = "==4.4.1"
croniter = "==0.3.29"
django-bootstrap4 = "==0.0.6"
django-cors-headers = "==2.0.2"
django-money = "==0.14.4"
django-nose = "==1.4.4"
django-push-notifications = "==1.6.0"
django-rq = "~=2.4"
rq-scheduler = "~=0.10.0"
django-reversion = "==2.0.7"
django-simple-email-confirmation = "==0.60"
django-storages = "==1.6.3"
djangorestframework = "==3.12.2"
flake8 = "*"
ipython = "==5.1.0"
jsonfield = "==2.0.2"
munch = "==2.3.2"
openpyxl = "==2.2.6"
phonenumberslite = "~=8.12"
plivo = "==0.11.3"
psycopg2-binary = "==2.8.2"
python-dateutil = "==2.8.1"
pytz = "*"
redis = "~=3.5"
rq = "~=1.7"
sphinx-rtd-theme = "==0.1.9"
twilio = "==6.1.2"
AfricastalkingGateway = "==2.0"
Django = "==2.2.1"
JSON-log-formatter = "==0.2.0"
Pillow = "*"
semantic_version = "==2.6.0"
Sphinx = "==1.4.8"
uwsgi = "==2.0.18"
future = "*"
uwsgitop = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
graphene-django = "~=3.0.0b7"
django-filter = "*"
django-simple-history = "~=2.11"
graphene-django-optimizer = {editable = true,git = "https://github.com/azundo/graphene-django-optimizer",ref = "graphene-3"}
graphene-file-upload = "*"
xlsxwriter = "*"
scorecardpy = "*"
scikit-learn = "*"
django-anymail = {extras = ["mailgun"],version = "~=8.1"}
uwsgi-tools = "*"
sentry-sdk = "~=0.19.5"
django-extensions = "*"
analytics-python = "~=1.2"
py-moneyed = "==1.2"
drf-spectacular = "==0.17.3"
rules = "~=3.0"
num2words = "==0.5.10"
django-tailwind = "~=2.2.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
